<section id="mission" aria-labelledby="mission-heading">

  <div id="mission-heading" class="heading"> Our Mission </div>

  <hr class="divider">

  <div class="body">
    ePIC is a collection of hundreds of scientists and engineers united in a quest to understand the structure of the matter we are all made of —
    and indeed 99% of the visible matter that makes up our universe. We are working together to build the world's most sophisticated particle
    detector for analyzing collisions between electrons and protons or other nuclei.
  </div>

</section>
