        
  <!-- div class="col-lg-6 order-2 order-lg-2" data-aos="fade-up" data-aos-delay="100" -->
    <center>
    <iframe width="800" height="600" src="https://www.youtube.com/embed/H8Mqj3K66cU?si=9jWzfP9itPcnn5wa&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </center>
  <!-- /div -->


